{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Create a transaction {% endblock %}</h1>
    <form method="post">
        <label for="title">Sample: r(1)w(2=22)r(3)w(5=34) [Without spaces]</label>
        <br>
        <label for="content">Enter Transaction</label>
        <br>
        <textarea name="content"
                  placeholder="transaction content"
                  rows="5"
                  cols="60"
                  >{{ request.form['content'] }}</textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}